#bop-popup {
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    height: fit-content;
    position:fixed;
    bottom:20px;
    z-index:9999;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}



#bop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#bop-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}
#bop-checkout {
    display: block;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
#bop-checkout:hover {
    transition: all 0.2s ease-in;
}

#bop-timer{
    font-size: xx-large;
    font-weight: bold;
    color: black;
    margin-bottom: 2px;
}

#bop-timer span {
    padding: 5px;
    border-radius: 5px;
    color:lightgray;
}

#bop-timer #bop-countdown {
background-color: red;
    border: 3px solid black;
    color: lightsalmon;
}

p > #btn-img {
    vertical-align: middle;
}
#btn-img {
    display: inline
}

#offer {
    vertical-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#offer span {
    font-weight: bold;
    font-size: xx-large;
}

#product_img {
    width: 150px;
    display: block;
    border-radius: 10px 10px 10px 10px;
}

@media ( max-width : 1280px) {
    #bop-popup {
        top: 50%;
        left: 50%;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
    }
}